[Desktop Entry]
Name=App
GenericName=App
Comment=Project Management Application
Categories=Utility
Exec=com.github.oceanboard.app
Icon=application-defult-Icon
Terminal=false
Type=application
Keywords=App